.wrapper_with_padding
  #documents.clearfix
    - unless @documents.blank?
      - @documents.each do |document|
        %a{ href: (url_for [document])}
          .document
            %p.title= document.title
            %p.date= time_ago_in_words(document.created_at)
            %p.content= truncate(document.content, length:55)
    - else
      %h2 Create Document
      %p Start creating and organizing your life!
      %button= link_to "Create", new_document_path